div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 200;
    height: 25vh;

}
div a{
    font-size: 1rem;
    background-color: rgb(249, 214, 201);
    color: orangered;
    border-radius: 10rem;
    padding: .7rem;
    margin: 1rem;
    text-decoration: none;
}
div a:hover{
    background-color: orangered;
    color: white;
}