<header class="container-fluid n">
  <div class="container-fluid row d-flex justity-content-space-around pt-2 pb-2">
    <ul><li><a routerLink="./"><h2><span style="color: rgb(0, 99, 0);font-size: 25px;"> &nbsp; &nbsp;Unavu</span><i class="bi bi-cart-check-fill" style="color: darkred;"></i><span style="color: orangered;">Online</span></h2></a></li>
    <li><a routerLink="cart-page"><h2><i class="bi bi-cart-check-fill"></i></h2></a></li></ul>
  </div>
 
    <!-- <div class="container-fluid pt-2 pb-2 n">
      <div class="row">
        <div class="col-lg-6">
          <a routerLink="./"><h2><span style="color: rgb(0, 99, 0);font-size: 25px;">Unavu</span><i class="bi bi-cart-check-fill" style="color: darkred;"></i><span style="color: orangered;">Online</span></h2></a>
        </div>
        <div class="col-lg-6 l d-flex mt-2 justify-content-end">
          
          <li class="pe-5"><a routerLink="cart-page"><i class="bi bi-cart-check-fill fa-2x"></i></a></li>
        </div>
      </div>
    </div> -->
</header>
