ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
ul li a{
    height: 28rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    font-weight: 600;
    border-radius: 1rem;
    margin: 0.4rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
    text-decoration: none;
}
li a:hover{
    opacity: 0.9;
}
.content{
    padding: .5rem 1rem;
    position: relative;
}
.favorite{
    position: absolute;
    top: 5rem;
    right: 1rem;
    font-size: 1.2rem;
}
.favorite.not{
    color: black;
}
.origins span{
    border-radius: 2rem;
    background-color: whitesmoke;
    color: gray;
    font-size: .8rem;
    margin-right: .3rem;
    display: inline-block;
}
.cook-time{
    font-size: .8rem;
    flex: 3;
    /* text-align: center; */
}
img{
    height: 14rem;
    width: 20rem;
}